*{
    margin: map-get($estilos,marge);
    padding: map-get($estilos,paddel);
    box-sizing: map-get($estilos,boxshape);
    text-decoration: map-get($estilos,decorations);
    text-align: map-get($estilos,centro);
}
body {
    font-family: "Finlandica", sans-serif;
    text-align: map-get($estilos,centro);
    max-height: 100%;
    background-color:map-get($estilos,backcolor);

}
main{
    max-width: 100%;
}
img {
    max-width: 100%;
}
