*{
    margin: map-get($themes,marge);
    padding: map-get($themes,paddel);
    box-sizing: map-get($themes,boxshape);
    text-decoration: map-get($themes,decorations);
    text-align: map-get($themes,centro);
}
body {
    font-family: "Finlandica", sans-serif;
    text-align: map-get($themes,centro);
    max-height: 100%;
    background-color:map-get($themes,backcolor);

}
main{
    max-width: 100%;
}
img {
    max-width: 100%;
}

.boton{
    background-color: rgba(0, 0, 255, 0.678);
    text-align: map-get($themes,centro);
    color: rgb(255, 255, 255);
    }
    .boton--reset{
    @extend.boton;
    background-color: rgba(255, 0, 0, 0.562);
    color: black;
    }
