.card-img-top {
    width: 100%;
    object-fit: cover;
    padding: 5px;
}
.sub__form{
    margin: 10px;
    color: rgb(73, 18, 73);
}
.form__style{
    display:block;
    width:90%;
    margin: auto;
}
.marcas__container{
    margin: 10px;
}
.carousel-inner{
    margin-bottom: $secundario-margin;
}
.texto{
    margin: 20px;

}